{{ define "main" }}
<div class="page-section wow fadeInUp">
  <div class="container">
    <div class="row">
      {{ range (.Paginate .RegularPagesRecursive).Pages }}
      <div class="col-lg-4 col-md-6 py-3">
        <div class="card-blog">
          <div class="header">
            <div class="post-thumb">
              {{- if .Params.banner -}}
                <img src='{{ relURL .Params.banner }}' alt="{{.Title}}">
              {{- else -}}
                <img src='{{ relURL "img/default/blog-thumbnail-default.jpg" }}' alt="{{.Title}}">
              {{- end -}}
            </div>
          </div>
          <div class="body">
            <h5 class="post-title"><a href="{{ .Permalink }}">{{ strings.FirstUpper .Title }}</a></h5>
            {{- if .Params.author -}}
              <div class="post-author">Autor: <a href="#">{{ .Params.author }}</a></div>
            {{- end -}}
            <div class="post-date">Publicado en <a href="#">{{ .Date | time.Format ":date_medium" }}</a></div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>

    <div class="row mt-4">
      {{ $paginator := .Paginate .Pages }}
      <div class="col-12 d-flex justify-content-center">
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>

  </div>
</div>
{{ end }}