{{ define "main" }}
<div class="page-section pt-5">
  <div class="container">
    <nav aria-label="Breadcrumb">
      <ul class="breadcrumb p-0 mb-0 bg-transparent wow fadeInDown">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        {{- with (index .Params.Categorias 0) -}}
        <li class="breadcrumb-item"><a href='{{ relURL ( printf "categorias/%s" . ) }}'>{{ . }}</a></li>
        {{- end -}}
        <li class="breadcrumb-item active">{{ .Title }}</li>
      </ul>
    </nav>

    <div class="row">
      <div class="col-lg-8 wow fadeInLeft">
        {{ partial "blog/main-content.html" . }}
      </div>

      {{ partial "blog/sidebar.html" . }}
    </div>

  </div>
</div>
{{ end }}