<div class="col-lg-4">
  <div class="widget">
    <!-- Widget search -->
    <div class="widget-box wow fadeInRight">
      <form action="#" class="search-widget">
        <input type="text" class="form-control" placeholder="buscar..." disabled>
        <button type="submit" class="btn btn-primary btn-block" disabled>Search</button>
      </form>
    </div>

    <!-- Widget Categories -->
    <div class="widget-box wow fadeInRight">
      <h4 class="widget-title">Categorias</h4>
      <div class="divider"></div>

      <ul class="categories text-lg">
        {{ $firstElements := dict }}
        {{ range $key, $pages := .Site.Taxonomies.categories }}
          {{ $firstElements = $firstElements | merge (dict $key $pages) }}
          {{ if eq (len $firstElements) 5 }}{{ break }}{{ end }}
        {{ end }}

        {{ range $key, $pages := $firstElements }}
          <li><a href='{{ printf "%s%s/" (site.GetPage "categories").RelPermalink $key }}'>{{ $key }}</a></li>
        {{ end }}
      </ul>
      <div class="d-flex justify-content-center mt-4">
        <a href='{{ relURL "/categories" }}' class="btn-sm btn btn-outline-primary m-auto">Ver todo</a>
      </div>
    </div>

    <!-- Widget recent post -->
    <div class="widget-box wow fadeInRight">
      <h4 class="widget-title">Articulos recientes</h4>
      <div class="divider"></div>


      {{ range first 3 (where .Site.RegularPages "Type" "blog") }}
      <div class="blog-item">
        <a class="post-thumb" href="">
          <img src="{{- if .Params.preview -}}{{ absURL .Params.preview }}{{- else -}}{{ relURL "img/default/blog-thumbnail-default.jpg" }}{{- end -}}" alt="{{ .Title }} image and redirect">
        </a>
        <div class="content">
          <h6 class="post-title"><a href="{{ relURL .Permalink }}">{{ .Title }}</a></h6>
          <div class="meta">
            <a href="#"><span class="mai-calendar"></span> {{ .Date | time.Format ":date_medium" }} </a>
            {{- if .Params.author -}}
              <br>
              <a href="#"><span class="mai-person"></span> {{ .Params.author }}</a>
            {{- end -}}
          </div>
        </div>
      </div>
      {{ end }}

    </div>

    <!-- Widget Tag Cloud -->
    <div class="widget-box wow fadeInRight">
      <h4 class="widget-title">Etiquetas</h4>
      <div class="divider"></div>

      <div class="tag-clouds">
        {{ $firstElements := dict }}
        {{ range $key, $pages := .Site.Taxonomies.tags }}
          {{ $firstElements = $firstElements | merge (dict $key $pages) }}
          {{ if eq (len $firstElements) 8 }}{{ break }}{{ end }}
        {{ end }}
        
        {{ range $key, $pages := $firstElements }}
          <a href='{{ printf "%s%s/" (site.GetPage "tags").RelPermalink $key }}' class="tag-cloud-link">{{ $key }}</a>
        {{ end }}
      </div>
      <div class="d-flex justify-content-center mt-4">
        <a href='{{ relURL "/tags" }}' class="btn-sm btn btn-outline-primary m-auto">Ver todo</a>
      </div>
    </div>

  </div>
</div>