<footer class="page-footer bg-image" style='background-image: url({{ relURL "/img/world_pattern.svg" }})'>
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-4 py-3">
        <h3>DacaDev <span class="text-primary"></></span></h3>
        <p>{{ .Site.Params.Description }}</p>

        <div class="social-media-button">
          <a href="{{ .Site.Data.authors.dacadev.instagram }}" target="blank"><span class="mai-logo-instagram"></span></a>
          <a href="{{ .Site.Data.authors.dacadev.twitter }}" target="blank"><span class="mai-logo-twitter"></span></a>
          <a href="{{ .Site.Data.authors.dacadev.linkedIn }}" target="blank"><span class="mai-logo-linkedin"></span></a>
        </div>
      </div>
      <div class="col-lg-4 py-3">
        <h5>Mapa del sitio</h5>
        <ul class="footer-menu">
          {{ range .Site.Menus.footer }}
          <li><a href='{{ relURL .PageRef }}' {{- if hasPrefix .PageRef "https" -}}target="_blank"{{- end -}}>{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </div>
      <div class="col-lg-4 py-3">
        <h5>Contacto</h5>
        <a href="mailto:ise.david.casas@gmail.com" class="footer-link">ise.david.casas@gmail.com</a>
      </div>
    </div>

    <p class="text-center" id="copyright">Copyright &copy; {{ now.Format "2006" }}. Este tema fue creado por <a
        href="https://macodeid.com/" target="_blank">MACode ID</a></p>
  </div>
</footer>