<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-white sticky" data-offset="300">
    <div class="container">
      <a href='{{ relURL "/" }}' class="navbar-brand">DacaDev<span class="text-primary"></></span></a>

      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapsed" id="navbarContent">
        {{ $currentPage := . }}
        <ul class="navbar-nav ml-auto">
          {{ range .Site.Menus.main }}
          <li class='nav-item {{ if eq $currentPage.RelPermalink .URL }}active{{ end }}'> <!-- add the active class to those current pages-->
            <a class="nav-link" href='{{ relURL .PageRef }}'>{{ .Name }}</a>
          </li>
          {{ end }}
          <li class="nav-item">
            <a class="btn btn-primary ml-lg-2" href="#">
              Invitame una
              <span class="mai-beer"></span>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
  
  {{ if and (or (eq .Title "Blog") (ne .Type "blog")) (ne .Title "404 Page not found" "Sobre mi") }}
  <div class="container wow fadeInUp">
    <div class="page-banner">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-md-6">
          <nav aria-label="Breadcrumb">
            <ul class="breadcrumb justify-content-center py-0 bg-transparent">
              {{ range .Ancestors.Reverse }}
              <li class="breadcrumb-item"><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
              {{ end }}
              <li class="breadcrumb-item active"> {{ strings.FirstUpper .Title }} </li>
            </ul>
          </nav>
          <h1 class="text-center">
            {{ if (eq .Title "Inicio") }}
              DacaDev <span class="text-primary"></></span>
            {{ else }}
              {{ strings.FirstUpper .Title }}
            {{ end }}</h1>
        </div>
      </div>
    </div>
  </div>
  {{ end }}

  {{ if (eq .Title "404 Page not found") }}
  <div class="container">
    <div class="page-banner home-banner">
      <div class="row align-items-center flex-wrap-reverse h-100">
        <div class="col-md-6 py-5 wow fadeInLeft">
          <h1 class="mb-4">404 Página no encontrada 😢</h1>
          <p class="text-lg text-grey mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis cumque nostrum itaque earum nobis fugiat delectus reprehenderit corrupti consequuntur</p>
          <a href='{{ relURL "" }}' class="btn btn-primary btn-split">Inicio<div class="fab"><span class="mai-arrow-forward"></span></div></a>
        </div>
        <div class="col-md-6 py-5 wow zoomIn">
          <div class="img-fluid text-center">
            <img src='{{ relURL "img/banner_image_1.svg" }}' alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ end }}
</header>