<div class="page-section banner-seo-check mb-5">
  <div class="wrap bg-image" style='background-image: url({{ relURL "img/default/bg_pattern.svg" }});'>
    <div class="container text-center">
      <div class="row justify-content-center wow fadeInUp">
        <div class="col-lg-8">
          <h2 class="mb-4">Suscribete para recibir la actualización de los ultimo articulos!</h2>
          <form action="#">
            <input type="text" class="form-control" placeholder="me@email.com">
            <button type="submit" class="btn btn-success">Suscribir</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>