<!DOCTYPE html>
<html lang="es">

{{- partial "head.html" . -}}

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WXBXCB5"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div class="back-to-top"></div>

  {{- partial "header.html" . -}}

  {{- block "main" . }}{{- end }}

  {{- partial "footer.html" . -}}

  {{- partial "scripts.html" . -}}
</body>

</html>